body {
	color : black ;
	font-family : "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif ;
}

.title {
	text-align : center ;
}

span.dark a{
	color : white ;
}

span.dark a:hover {
	color : lightgrey ;
}

span.light a{
	color : black ;
}

span.light a:hover {
	 text-decoration : none ;
}

div.header {
	top : 0px;
	height : 120px;
	left : 0px ;
	right : 0px ;
	border-style : solid ;
	border-width : 2px ;
	border-color : lightgrey ;
	background-color : #003478 ;
	position : absolute ;
}

div.menuGauche{
	padding-top : 60px ;
	padding-left : 20px ;
	top : 120px ;
	bottom : 40px ;
	left : 0px ;
	width : 280px ;
	border-style : solid ;
	border-width : 2px ;
	border-color : lightgrey ;
	color : white ;
	background-color : #003478 ;
	position : absolute ;
}

div.divBody {
	padding-left : 50px ;
	left : 300px;
	right : 0px ;
	top : 120px ;
	bottom : 40px;
	border-style : solid ;
	border-width : 2px ;
	border-color : lightgrey ;
	position : absolute ;
        /* overflow: scroll ;*/
}

div.bodyDiv a{
	color : black;
}

div.footer{
	height : 40px ;
	bottom : 0px ;
	left : 0px ;
	right : 0px ;
	border-style : solid ;
	border-width : 2px ;
	border-color : lightgrey ;
	background-color : #003478 ;
	color : white ;
	position : absolute ;
}

div.logoEMSE{
	padding-top : 20px ;
	padding-left : 20px ;
	width : 200px ;
	left : 0px ;
	position : absolute ;
}

div.titreBienvenue{
	left : 200px ;
	right : 380px ;
	color : white ;
	font-weight : bold ;
	font-size : 1.4em ;
	position : absolute ;
	text-align : center ;
}

div.inscription{
	width : 380px ;
	right : 0px ;
	color : white ;
	position : absolute ;
}

div.formInscription{
	padding-left : 50px ;
	left : 300px;
	right : 0px ;
	top : 120px ;
	bottom : 40px;
	border-style : solid ;
	border-width : 2px ;
	border-color : lightgrey ;
	position : absolute ;
	padding-left : 100px ;
}

span.titreInscription {
	font-size : 2.1em ;
	font-weight : bold ;
	padding-left : 100px ;
}

.boutons td {
	text-align : center ;
}

img.logo {
	position : absolute ;
	border : none ;
}

div.intro{
	position : absolute ;
	padding-left : 40px ;
	padding-top : 20px ;
	top : 0120px ;
	height : 40px ;
	left : 300px ;
	right : 0px ;
	font-size : 1.2em;
	color : #003478 ;
}

div.carte{
	position : absolute ;
	top : 160px ;
	bottom : 0px ;
	left : 300px ;
	right : 350px ;
	padding-left : 50px ;
	padding-top : 60px ;
}

div.instructions{
	position : absolute ;
	line-height : 1.5em ;
	padding-top : 30px ;
	padding-left : 30px ;
	top : 160px ;
	height : 200px ;
	right : 0px ;
	width : 350px ;
}

div.paysConnus{
	position : absolute ;
	padding-left : 30px ;
	top : 360px ;
	bottom : 40px ;
	right : 0px ;
	width : 350px ;
}

td.ouvert{
	background-color : #003478 ;
	color : grey ;
}

tr.alphabet{
	font-size : 0.8em ;
}